extends layout

block content
	.container
		h1 About US
		p I need to start this article by qualifying what makes an amazing About Us page. The reason for this is that some About Us pages look amazing but have terrible content whilst others look terrible but grab your attention immediately. The list I have compiled here are based on the fact that they:
		ul
			li Get the point across
			li Give you the information you need
			li Don’t let design elements negate the potency
			li Give you social proof, testimonials and other authenticity statements
		p A good About Us page always needs to have some mention of past successes, achievements, social proof, etc. Giving concrete examples of why your site or blog is worth reading is extremely important for these pages.