extends layout

block content
	.jumbotron
		.container
			h1 How may I help you?
			p Lorem Ipsum is simply dummy text of the printing and type setting industry. 
			a.btn.btn-primary.btn-lg(href = '#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
				a.btn.btn-default(href = '#') View Details
			.col-md-4
				h2 Services
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
				a.btn.btn-default(href = '#') View Details
			.col-md-4
				h2 Get In Touch
				p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
				a.btn.btn-default(href = '#') View Details



